@page
@model DWChallange.Pages.Events.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Register" asp-route-id="@item.Id">Register</a>
                </td>
            </tr>
        }
    </tbody>
</table>
